@font-face {
	font-family: 'futurastd_book';
	src: url("../fonts/FuturaStd-Book.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
:not(input){
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
body{
	margin: 0px;
	padding: 0px;
	font-family:'futurastd_book', Helvetica;
}
p{	
	color: black;
	font-size: 20px;
}

h1{
	color: rgb(238, 49, 41);
	font-size: 40px;
}

.signin{
	margin-bottom:20px;
}
input{
	margin-bottom:20px;
}
.form-content{
	margin-top: 30px;
	text-align: center;
}
p.no-margin-bottom{
	margin-bottom:0;
}
input.form-control{
	background-color:#000;
	border-radius:0px;
	color: #fff;
	font-size:16px;
}

button.taddle-submit{
	color: rgb(238, 49, 41);
	margin-bottom:20px;
	height:44px;
	font-size:16px;
	border-radius: 0px;
}

/* Portrait tablets and greater */
@media (min-width: 768px)  {
	.col-sm-10 p{
			font-size: 30px;
	}
	.col-sm-10 h1{
			font-size: 50px;

	}
	.col-sm-10 input.form-control{
		font-size:20px;
	}
	.col-sm-10 button.taddle-submit{
		font-size:20px;
	}
}